<div class="continer">
    <div dir="rtl">
        <p class="text">کد ارسال شده را وارد کنید</p>
    </div>
    <div class="mat">
        <mat-form-field appearance="outline">
            <mat-label class="text"> کد را وارد کنید</mat-label>
            <input matInput >
            <mat-icon  matSuffix>key</mat-icon>
          </mat-form-field>
    </div>
    <div class="counter">
        <p class="text">60 ثانیه تا ارسال مجدد کد </p>
    </div>
    <div class="button">
        <button class="bud" (click)="step()" mat-button color="primary">ادامه </button>
    </div>
</div>
