<div>
    <div dir="rtl">
        <p class="text">رمز عبور حساب کاربری خود را وارد کنید </p>
    </div>
    <form class="box" [formGroup]="form.formLogin">
            <mat-form-field class="input" appearance="outline" >
              <mat-label class="text">شماره تماس</mat-label>
              <span  class="text" matPrefix>+98 &nbsp;</span>
              <input formControlName="phoneNumber" type="tel" matInput placeholder="09XXXXXXXXXXX">
            </mat-form-field>
          <mat-form-field appearance="outline" dir="rtl">
            <mat-label class="text">رمز عبور</mat-label>
            <input formControlName="password" matInput >
            <mat-icon  matSuffix>key</mat-icon>
          </mat-form-field>
    </form>
    <div class="bud">
        <button  (click)="step()" mat-button color="primary">ادامه </button>
    </div>
</div>
